.ai-2x {
    font-size: 1.4em !important;
    color: #8c1515 !important;
}
.fa-1x {
    color: #8c1515 !important;
    font-size: 1.1em !important;
}
#content {
    font-family: inter, sans-serif;
    color: #071013;
    text-align: justify !important;
}
#nav-social {
    text-align: left !important;
}
h2 {
    font-size: x-large;
    font-weight: 400;
}
h5 {
    color: #8c1515;
}
.container {
    font-size: 0.85rem;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: teal;
}
a:hover {
    color: #8c1515;
}
#home-image {
    border: 0 teal;
}
.badge {
    font-size: 85%;
}
#academia {
    color: #8c1515;
}